SemanticTokens:
  DisabledKinds: [Typedef, Type]
Diagnostics:
  Suppress: ["unsupported option '-mabi='", "microsoft-anon-tag"]

If:
  PathMatch: bootloader/boson/.*
CompileFlags:
  CompilationDatabase: build/boson
---
If:
  PathMatch: kernel/.*
CompileFlags:
  CompilationDatabase: build/muon
