Checks: '-*,readability-identifier-naming'
CheckOptions:
  - key:              readability-identifier-naming.TypedefCase
    value:            CamelCase
  - key:              readability-identifier-naming.VariableCase
    value:            camelBack
  - key:              readability-identifier-naming.StructMemberCase
    value:            camelBack
  - key:              readability-identifier-naming.FunctionCase
    value:            lower_case
  - key:              readability-identifier-naming.FunctionIgnoredRegexp
    value:            "([A-Z][a-z0-9]+)+_.+"
  - key:              readability-identifier-naming.StructCase
    value:            Leading_upper_snake_case
  - key:              readability-identifier-naming.StructPrefix
    value:            _
  - key:              readability-identifier-naming.MacroDefinitionCase
    value:            UPPER_CASE